.title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 60px;
  height: 4px;
  background: var(--accent);
}

.text {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #bbbbbb;
}
