.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  height: 70px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(12px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 25px;
  gap: 40px;
}

.logo {
  font-size: 1.4rem;
  font-weight: 700;
  white-space: nowrap;
}

.menu {
  margin-left: auto;
  display: flex;
  gap: 40px;
  list-style: none;
}

.menu a {
  color: var(--text-secondary);
  text-decoration: none;
  font-size: 1rem;
  transition: 0.3s;
  white-space: nowrap;
}

.menu a:hover {
  color: var(--accent);
}
