.title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 60px;
  height: 4px;
  background: var(--accent);
}

.text {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #bbbbbb;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 25px;
}

.skill {
  background: var(--surface);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  transition: 0.3s;
}

.skill:hover {
  transform: translateY(-2px);
  background: #1d1d1d;
}
