.home {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 80px;
  /*color: white;*/
}

.content h1 {
  color: var(--text-main);
  font-size: 4rem;
  font-weight: 700;
}

.content h2, p {
  color: var(--text-secondary);
}

.btn {
  padding: 12px 30px;
  background: var(--accent);
  color: #000;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
}

.btn:hover {
  background: var(--surface-light);
  color: var(--text-main);
}
